@import "../../../../styles/colors";

.info-item {
  width: 25%;
  padding: 21px 0;

  &__title {
    color: $text-primary;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__value {
    color: $text-primary;
  }
}

@media (max-width: 768px) {
  .info-item {
    flex: 1;
    width: auto;
  }
}
