// Common
$primary: #e16d4d;
$primary-dark: #666276;
$focus: rgba(0, 0, 0, 0.12);
$lightblue: #d9e8f2;

// Borders
$border-color: #efecf3;

// Typography
$text-primary: $primary-dark;
$text-secondary: #454056;

// Divider
$divider: #f9f8fa;

//Links
$link: #6a94f5;
