@import "./colors.scss";
@import "./constants.scss";
@import "./fonts.scss";
@import "./layout.scss";
@import "./ui/buttons.scss";
@import "./ui/links.scss";
@import "./ui/inputs.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size;
  font-weight: normal;
  color: $text-primary;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button,
input,
a {
  font-family: inherit;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $focus;
    transition: box-shadow 0.1s;
  }
}
