@import "../../styles/colors";

.printing-list {
  &__filters {
    max-width: 394px;
    margin-bottom: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
  }

  &__info {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__type-icon {
    margin-right: 14px;
  }

  &__name {
    font-weight: 400;
    font-size: 16px;
    max-width: 190px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: $text-primary;
  }

  &__params {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__dropdown {
    width: auto !important;
    .dropdown__btn {
      padding: 6px 10px;
    }

    .dropdown__link {
      padding: 6px 10px;
    }
  }

  &__input {
    width: auto;
    max-width: 44px;
  }

  &__controls {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 1024px) {
  .printing-list {
    &__item {
      gap: 20px;
    }

    &__controls {
      flex: unset;
    }
  }
}

@media (max-width: 768px) {
  .printing-list {
    &__item {
      flex-wrap: wrap;
    }

    &__info {
      order: 1;
    }

    &__params {
      flex: 100%;
      order: 2;
      gap: 10px;
    }

    &__controls {
      order: 0;
    }
  }
}
